body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.categories-container {
  display: flex;

}

.categories {
  display: flex;
  flex-direction: column;
}

.cards-container {
  width: 70%;

  display: flex;
  flex-wrap: wrap;

  margin-left: 10%;
}

.card {
  width: 25%;
  height: 40vh;
}

.card-img {
  width: 20vh;
}

.product-container {
  display: flex;
}

.productImg {
  width: 200px;
}
